[user]
  name = Josh Langholtz
  email = jjlangholtz@gmail.com
[alias]
  aa = add -A .
  ci = commit
  co = checkout
  d = diff
  dc = diff --cached
  amend = commit --amend
[apply]
  whitespace = fix
[color]
  ui = auto
[commit]
  template = ~/.gitmessage
  verbose = true
[core]
  editor = code --wait
[fetch]
  prune = true
  writeCommitGraph = true
[gc]
  writeCommitGraph = true
[help]
  autocorrect = 1
[log]
  date = human
[push]
  default = simple
[rerere]
  enabled = true